h1{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}


h2 {
	color: $color_7;
	font-size: 2.5rem;
}

h4{
	display: flex;
	text-align: center;
	justify-content: center;
	font-size: 1rem;
}