$color_1: white;
$color_2: rgb(255, 255, 255);
$color_3: #fafafa;
$color_4: #9c9894;
$color_5: #90b5d9;
$color_6: #4149c5;
$color_7: rgb(37, 36, 36);
$color_8: black;
$font-family_1: 'Poppins', sans-serif;
$font-family_2: 'Rubik', sans-serif;
$background-color_1: white;
$background-color_2: #4149c5;
$background-color_3: #90b5d9;
$background-color_4: #9c9894;
$background-color_5: #861da7;
$background-color_6: #f752cd;